.goodsinfo {
  background-color: #e1e1e1;

  &__swiper {
    height: 600px;
  }

  &__swiper__img {
    width: 100%;
    height: 100%;
  }

  &__main {
    background-color: white;
  }

  &__name {
    margin: 10px 0;
    font-size: 32px;
    text-align: center;
  }

  &__desc {
    margin: 10px 0;
    font-size: 32px;
    color: #e1e1e1;
    text-align: center;
  }

  &__price {
    margin: 10px 0;
    font-family: Arial;
    font-size: 40px;
    text-align: center;
  }

  &__spec {
    margin: 10px 0;
    padding: 10px 20px;
    background-color: white;
    font-size: 30px;
    height: 80px;
    display: flex;
    align-items: center;

    .at-row {
      height: 50px;
      line-height: 50px;
      padding-left: 10px;
      border-left: 4px solid #e68d3e;
    }

  }

  &__spac--last {
    padding-bottom: 150px;
  }

  &__spec__info {
    color: #e1e1e1;
    font-size: 25px;
  }

  &__info {
    background-color: white;
    margin: 10px 0;
    padding: 10px 20px;
  }

  &__info__title {
    font-size: 30px;
    height: 50px;
    line-height: 50px;
    padding-left: 10px;
    border-left: 4px solid #e68d3e;
  }

  &__info__label {
    font-size: 25px;
    margin: 15px 0;
    display: flex;
    justify-content: space-between;
  }

  &__operator {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100px;
    line-height: 100px;
    text-align: center;
    background-color: #e1e1e1;
  }

  &__operator__label {
    font-size: 20px;
    margin-top: 10px;
  }

  &__operator__icon {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    font-size: 40px;
  }

  &__operator__long {
    font-size: 30px;
  }

  &__operator--black {
    background-color: black;
    color: white;
  }

  &__operator--red {
    background-color: #c52020;
    color: white;
  }
}

.goodsinfo__operator--badge {
  margin-top: -5px;
  margin-right: -10px;
}
.goodsinfo__introduction{
  width: 100%;
}