.confirmorder {
  background-color: #F5F5F5;
}

.confirmorder__address {
  height: 150px;
  border-top: 3px dashed black;
  border-bottom: 3px dashed black;
  padding: 15px;
  box-sizing: border-box;
  background-color: white;
  position: relative;
}

.confirmorder__address__icon {
  position: absolute;
  right: 10px;
  top: 45%;
}

.confirmorder__address__title {
  font-size: 35px;
  margin-bottom: 10px;
}

.confirmorder__address__name {
  font-size: 30px;
}

.confirmorder__address__phone {
  font-size: 30px;
}

.confirmorder__address__detail {
  font-size: 25px;
  color: #A9A9A9;
}
.confirmorder__amount {
  height: 100px;
  line-height: 100px;
  padding-left: 15px;
  background-color: white;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
}

.confirmorder__amount__title {
  font-size: 25px;
}

.confirmorder__amount__real {
  font-size: 30px;
}

.confirmorder__amount__btn {
  border: none;
  border-radius: 0;
  height: 100px;
  line-height: 100px;
  background-color: rgb(214, 147, 23);
  color: white;
}
