.leftTabs {
  height: 100%;
}

.category__atgrid {
  font-size: 18px;
  text-align: center;
  height: 100%;
}

.category__search {
  background-color: #f7f7f7;
  height: 57px;
  line-height: 57px;
  border-radius: 15px;
  text-align: center;
  font-size:30px;
  color:#c7c7cd;
  margin: 10px 15px;
}
