.leftTabs {
  height: 100%;
}

.category__img {
  padding: 20px;
  height: 300px;
}

.category__search {
  background-color: #f7f7f7;
  height: 57px;
  line-height: 57px;
  border-radius: 15px;
  text-align: center;
  font-size: 30px;
  color: #c7c7cd;
  margin: 10px 15px;
}
