@import "~taro-ui/dist/style/components/flex.scss";

.hb__goods {
  margin: 15px 0;
  padding: 10px;
  background-color: white;

  .at-row .at-col {
    padding: 10px;
  }
}

.hb__goods__remark {
  margin: 10px;
}

.hb__goods__shopname {
  margin: 10px;
  padding-left: 15px;
  font-size: 35px;
  border-left: 4px solid #e68d3e;
}

.hb__goods__img {
  width: 100%;
  height: 100%;
}

.hb__goods__label {
  font-size: 25px;
  margin: 5px;
}

.hb__googds__divider {
  border-bottom: 12px solid #F5F5F5;
}

.hb__goods__textarea {
  height: 100px;
  font-size: 25px;
  width: 100%;
  border: 1px solid #e1e1e1;
}
