@import "~taro-ui/dist/style/components/flex.scss";

.search__tag {
  margin: 10px;
}

.search__hot {
  margin-top: 80px;

  &__top {
    padding: 10px 10px;
    border-top: 1px solid #e1e1e1;
    display: flex;
    justify-content: space-between;
  }

  &__top__title {
    font-size: 30px;
    height: 30px;
    line-height: 30px;
  }

  &__top__change {
    font-size: 20px;
    color: #c42626;
    height: 30px;
    line-height: 30px;
  }
}

.search__result {
  margin-top: 10px;

  &__condition {
    padding: 5px 35px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #e1e1ee;
    margin-top: 70px;
  }

  &__condition__item {
    height: 60px;
    line-height: 60px;
    font-size: 30px;
  }

  &__condition__item--selected {
    color: #c06f13;
  }

  &__goods {
    padding: 10px;
    box-sizing: border-box;
  }

  &__goods__image {
    height: 350px;
    width: 100%;
  }

  &__goods__name {
    font-size: 30px;
  }

  &__goods__desc {
    font-size: 25px;
    width: 300px;
    overflow: hidden;
    white-space: nowrap;
    word-break: break-all;
    text-overflow: ellipsis;
  }

  &__goods__price {
    font-family: Arial;
    font-size: 25px;
  }

  &__scrollview {
    height: 80vh;
  }

  &__scrollview--uncondition {
    margin-top: 60px;
    height: 80vh;
  }
}
