@mixin hb__checkbox {
  height: 38px;
  width: 38px;
}

.hb__checkbox__area {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.hb__checkbox {
  @include hb__checkbox;
  border-radius: 50%;
  position: relative;
  border: 1px solid black;

  &--check {
    background-color: rgb(0, 0, 0);
    border: none;
  }

  &--check:after {
    content: "";
    width: 10px;
    height: 18px;
    position: absolute;
    top: 6px;
    left: 13px;
    border-bottom: 4px solid white;
    border-right: 4px solid white;
    transform: rotate(45deg);
  }
}

.hb__checkbox__label {
  margin-left: 15px;
}
